#all, #general,#info, #qna{
    display: none;
}

.postselectCont{
    display: flex;
    flex-direction: row;
    margin: 2%;
    align-items: center;
}

#all:checked~.postselectCont .allBtn{
    background-color: black;
    color: white;
}

#general:checked~.postselectCont .generalBtn{
    background-color: black;
    color: white;
}

#info:checked~.postselectCont .infoBtn{
    background-color: black;
    color: white;
}

#qna:checked~.postselectCont .qnaBtn{
    background-color: black;
    color: white;
}

.post{
    width:53px;
    border: solid 4px black;
    cursor: pointer;
    margin-left: 57%;
    border-radius: 4px;
    background-color: black;
    color: white;
}

.postItem {
    display: grid;
    grid-template-columns: 10.3% 1fr 11.5% 15.5%;
    align-items: center;
    height: 25px;
}

.postItem span {
    padding-left: 10px;
    box-sizing: border-box;
}

.postHide{
    display: none;
}