* {
    margin: 0;
    padding: 0;
}

.reg_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.reg_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.reg_box {
    width: 50%;
    height: 90%;
    background-Color: black;
    justify-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
}

.reg_title {
    font-size: 45px;
    height: 20px;
    color: white;
}

.reg_line {
    width: 100%;
    margin-top: 8%;
    border: 1px solid white;
}

.reg_inputName {
    width: 80%;
    height: 8%;
    margin-top: 3%;
    margin-left: 5%;
}

.reg_textColor {
    color: white;
    margin-left: 2%;
}

.reg_inputNick {
    width: 80%;
    height: 8%;
    margin-top: 2%;
    margin-left: 3%;
}

.reg_inputEmail {
    width: 80%;
    height: 8%;
    margin-top: 2%;
    margin-left: 3%;
}

.reg_inputID {
    width: 80%;
    height: 8%;
    margin-top: 2%;
    margin-left: 3%;
}

.reg_inputPW {
    width: 80%;
    height: 8%;
    margin-top: 2%;
    margin-left: 1%;
}

.reg_check_reg1 {
    margin-top: 5%;
    margin-left: 10%;
}

.reg_check_reg2 {
    margin-top: 3%;
    margin-left: 10%;
}

.reg_btn_goLog {
    margin-top: 5%;
    margin-left: 25%;
    width: 25%;
    height: 10%;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.reg_btn_regCom {
    margin-top: 2%;
    margin-left: 5%;
    width: 20%;
    height: 10%;
    background-color: white;
    color: black;
    border-radius: 20px;
}