* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ranking_container {
    /* width: 100vw; */
    width: auto;
    min-height: 100vh;
    height: auto;
}

.ranking_main {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.ranking_level,
.ranking_badge {
    width: auto;
}