.teamHeader {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.createTeamCont {
    width: 50%;
    height: 50%;
    border: solid 1px gray;
    margin: 2%;
    padding: 3%;
}

#maxNum {
    width: 12%;
    text-align: center;
}

#teamSubmit {
    font-size: 20px;
    width: 20%;
    margin-top: 10%;
}

#teamExplain {
    resize: none;
    width: 100%;
    height: 100px;
    padding: 2%;
}

.teamBox {
    padding: 2%;
    width: 30%;
    height: 30%;
    border: solid 2px black;
    border-radius: 10px;
}

.teamBox:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: lightgray;
}

.teamListContainer {
    padding: 3%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}