* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login_box {
    width: 50%;
    height: 90%;
    background-Color: black;
    justify-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
}

.login_title {
    font-size: 45px;
    height: 20px;
    color: white;
}

.login_line {
    width: 100%;
    border: 1px solid white;
    margin-top: 10%;
}

.login_inputID {
    width: 90%;
    height: 10%;
    margin-top: 5%;
    margin-left: 4%;
}

.login_inputPW {
    width: 90%;
    height: 10%;
    margin-top: 3%;
    margin-left: 4%;
}

.login_btn {
    width: 45%;
    margin-left: 27%;
    margin-top: 6%;
    height: 10%;
    background-color: white;
    font-size: 25px;
    color: black;
    border-radius: 20px;
}

.login_btn_naver {
    width: 40%;
    height: 10%;
    background-color: white;
    margin-top: 4%;
    margin-left: 5%;
    font-size: 20px;
    color: black;
    padding-right: 3%;
    border-radius: 20px;
}

.login_btn_google {
    width: 40%;
    height: 10%;
    background-color: white;
    margin-left: 10%;
    font-size: 20px;
    color: black;
    border-radius: 20px;
}

.login_btn_findID {
    margin-top: 10%;
    margin-left: 25%;
    border: 0px;
    font-size: 20px;
    background-color: black;
    color: white;
}

.login_btn_reg {
    margin-top: 10%;
    margin-left: 23%;
    border: 0px;
    font-size: 20px;
    background-color: black;
    color: white;
}

.login_img_social {
    width: 10%;
    margin-right: 3%;
    height: 40%;
}